* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: #e2e8f0;
  scroll-behavior: smooth;
  font-family: __inter_20b187, __inter_Fallback_20b187, ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  justify-content: center;
  gap: 1rem;
}

header {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 500px;
  height: 100vh;
}

main {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 500px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h1 > a {
  text-decoration: none;
  color: #e2e8f0;
}

.sublogo {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.subdescr {
  line-height: 1.5;
  margin-top: 1rem;
  max-width: 20rem;
}

.menu {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menu li {
  position: relative;
  padding: 10px 20px;
}

.menu li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem; /* Initial width of the line */
  height: 2px;
  background-color: #e2e8f0;
  transition: width 0.3s ease-in-out;
}

.menu li:hover::after {
  width: 4rem; /* Width of the line on hover */
}

.menu > li > a {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-decoration: none;
  color: #e2e8f0;
  text-transform: uppercase;
  padding-left: 2rem;
}

.menu > li > a:hover {
  padding-left: 4rem;
  transition: padding-left 0.1s ease-in-out;
  font-weight: 700;
}

.menu > li > a:active {
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}
